<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="default"><directory>tests</directory></testsuite>
  </testsuites>
  <logging>
    <junit outputFile="test-results/junit.xml"/>
  </logging>
  <source>
    <include><directory>.</directory></include>
    <exclude><directory>vendor</directory><directory>tests</directory></exclude>
  </source>
</phpunit>
